@import './_vars';

@mixin weather-type($day) {

    $day-padded: if($day < 10, "0#{$day}", $day);

    &[data-type="#{$day-padded}d"] {
        --primary: #2F2F2F;
        --secondary: #fcfff7;
        --primary-rgb: 47, 47, 47;
        --secondary-rgb: 252, 255, 247;

        background-image: url(./assets/photos/weather_bg_#{$day-padded}d.jpg);

        .weatherapp__headingblock--icon {
            background-image: url(./assets/weather-icons/weather_icon_#{$day-padded}d.png);
        }
    }

    &[data-type="#{$day-padded}n"] {
        --primary: #fcfff7;
        --secondary: #2F2F2F;
        --primary-rgb: 252, 255, 247;
        --secondary-rgb: 47, 47, 47;

        background-image: url(./assets/photos/weather_bg_#{$day-padded}n.jpg);

        .weatherapp__headingblock--icon {
            background-image: url(./assets/weather-icons/weather_icon_#{$day-padded}n.png);
        }
    }
}

.weatherapp__wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 4.5rem 0;
    
    background-image: url(./assets/photos/weather_bg_00d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    // BG
    @include weather-type(1);
    @include weather-type(2);
    @include weather-type(3);
    @include weather-type(4);
    @include weather-type(9);
    @include weather-type(10);
    @include weather-type(11);
    @include weather-type(13);
    @include weather-type(50);

    transition: background-image .5s ease;
}

.weatherapp__block {
    color: var(--primary);
    background-color: rgba(var(--secondary-rgb), 0.57);

    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(var(--black-rgb), 0.25);

    margin-bottom: 3rem;

    border-radius: 30px;

    padding: 1.5rem 3rem;

    &--title {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 1;

        &.sm {
            font-size: 1.4rem;
        }
    }

    &--regular {
        font-size: 1.4rem;
        font-weight: 400;

        line-height: 1;
    }

    & .yellow {
        color: $yellow;
    }

    &--row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3.5rem;
    }
}

.weatherapp__headingblock--icon {
    position: absolute;
    top: -6rem;
    left: -5rem;

    width: 12rem;
    height: 12rem;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: background-image .5s ease;
}

.weatherapp__icon {
    fill: var(--primary);

    transition: transform .5s ease;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}